// where utility classes are styled
.utility-class-centerText {
  text-align: center;
}
.ut-margin-bottom-big {
  margin-top: -13rem;
  margin-bottom: 8rem;
  //   different headrers have different bottom margins so use the utility class
}
.ut-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.ut-margin-bottom-medium {
  margin-bottom: 4rem;
}
