/* universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* prevents borders and paddings adding to height and width of the box model of elements */
}

html {
  /* font-size: 10px; => bad practise if user changes font-size from browswe nothing changes so give a percentage that gets 10 percent if user dosent change anything ()if font-size is 16px */
  font-size: 62.5%;
  /* default is 16px but when using rem that depends on root font size it makes claculation harder.
    1rem => 10px now not 16px. we use this to make more dynamic.reducing font size makes it all smaller handy when using media querries  */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  /* 16px now 1.6rem */
  /* line-height: 6rem; */
  /* got applied to each elements  */
  color: #777;
  padding: 2.5rem;
}

header {
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  height: 95vh;
  /* always 95% the viweport */
  background-image: linear-gradient(to bottom, rgba(21, 206, 141, 0.848), rgba(16, 162, 210, 0.536)), url(../images/ninearch.jpg);
  background-size: cover;
  /* fits the image inside of element no matter what */
  background-position: top;
  /* no matter what the viweport size istop wont crop (top styas the same u can also change it to bottom or center) */
  /* background-image: ;=> no need to cretae a new bg-image property u can comma it and intro a new always  but remember the order  */
  border-radius: 1rem;
  /* clip-path: polygon(0 0, 100% 0%, 98% 100%, 0% 100%); */
  /* used clippy a image clip generator */
  position: relative;
  /* the absolute changes according to this => origin */
}
header .header__logo-box {
  position: absolute;
  top: 1rem;
  left: 4rem;
  /* replaceble with flex box */
}
header .header__logo {
  height: 20rem;
  /* width automatcially will be figured out */
}

.heading-1 {
  color: aliceblue;
  /* u cud have used instead */
  position: absolute;
  top: 40%;
  left: 50%;
  /* dont chnage percentages */
  text-align: center;
  transform: translate(-50%, -50%);
  /* now it is related to itsle f to correctly centered
     = > instead of flexbox  */
}
.heading-1 .heading-1--main-head {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 500;
  display: block;
  letter-spacing: 3.5rem;
  padding: 10px;
  /* line-height: 25px; */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* tailored timing function */
  /* to trigger animation these are the only two things needed */
  /* animation-delay:3s => wait for 3s then animates */
  /* animation-iteration-count: 2;=> times animation happens */
}
.heading-1 .heading-1--secondary-head {
  display: block;
  font-style: italic;
  font-family: "Dancing Script", cursive;
  margin-top: -1rem;
  letter-spacing: 0.7rem;
  padding: 10px;
  /* animation-name: moveInRight;
      animation-timing-function: ease-in;
      animation-duration: 1s; */
  /* or use animation */
  animation: moveInRight 1s ease-in;
  color: rgb(243, 242, 242);
}

/* Annimations */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem);
    /* transform: rotate(20deg); */
  }
  80% {
    transform: translate(1rem);
    /* we use this to cretae a bounce effect go ryt and come back to center. opacity would not fit here */
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem);
  }
  80% {
    transform: translate(-1rem);
    /* we use this to cretae a bounce effect go ryt and come back to center. opacity would not fit here */
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn,
.btn:link,
.btn:visited {
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  /* still inline but can change width and height. would start in same line without creating new line like inline */
  transition: all 0.2s;
  border-radius: 10px;
  margin-bottom: 10px;
}
.btn:hover,
.btn:link:hover,
.btn:visited:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  /* first in x then y and  and opacity */
}
.btn:active,
.btn:link:active,
.btn:visited:active {
  transform: translateY(-1px);
  /* The properties below are relative to the initial .btn state, not the hover state */
  background-color: #fff;
  color: rgba(3, 54, 63, 0.451);
}

.btn--01 {
  color: #fff;
  border: 3px solid #fff;
}

.animation--1 {
  animation: fadein 1s ease-in;
}/*# sourceMappingURL=style.css.map */